# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Entregable3.1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\salva\RiderProjects\Entregable3.1\.idea\.idea.Entregable3.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
